footer {
  padding-top: 40px;
  border-top: solid 1px #dcdcdc;
  background-color: #efefef;
}

footer .copyright {
  padding: 15px 0;
  border-top: solid 1px #dcdcdc;
  font-size: 1.1em;
}

footer .copyright p {
  margin: 0;
  color: 586069;
}
