.page {

}

.page .title {
  padding: 40px 0;
  background-color: #1f242a;
  color: #fff;
}

.page .title h1 {
  font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Segoe UI, Helvetica, Arial, Lucida Grande, sans-serif;
  font-weight: 300;
  font-size: 3.5em;
}

.page .title h1 small {
  font-size: 50%;
  font-weight: 200;
  color: #999;
}
