.section {
  padding: 20px;
  min-height: 300px;
}

.section.row {
  margin-left: 0;
  margin-right: 0;
}

.section.section-inverse {
  background-color: #1f242a;
  color: #fff;
}

.section .card {
  border: none;
  border-radius: 0;
  background-color: transparent;
}

.section .card h3 {
  font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Segoe UI, Helvetica, Arial, Lucida Grande, sans-serif;
  font-weight: 300;
  font-size: 2em;
}

.section p {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1.4em;
  color: #4e5665;
}

.section .billboard {
  padding: 40px;
  text-align: center;
}

.section .billboard h4 {
  text-transform: uppercase;
  font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Segoe UI, Helvetica, Arial, Lucida Grande, sans-serif;
  font-size: 1.5em;
  font-weight: 600;
}

.section .billboard h2 {
  margin: 20px;
  font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Segoe UI, Helvetica, Arial, Lucida Grande, sans-serif;
  font-size: 4em;
  font-weight: 300;
}

.section .billboard h2 strong {
  font-weight: 600;
}

.section .billboard p {
  margin-bottom: 5px;
  font-size: 1.8em;
}
