.summary-box {
  position: sticky;
  top: 10px;
  margin-top: 40px;
  overflow: auto;
}

.summary {
  border-right: solid 1px #ccc;
}

.summary ol {
  list-style: decimal;
}

.summary ol li {
  padding: 5px;
  color: #888;
  counter-increment: root;
}

.summary ol li a {
  font-size: 1.2em;
  color: #1d2129;
  cursor: pointer;
}

.summary ol li a:not([href]):not([tabindex]) {
  color: #1d2129;
}

.summary ol li a:hover {
  text-decoration: underline !important;
}

.summary ol li ol {
  padding: 0;
  margin: 0;
  counter-reset: subsection;
  list-style-type: none;
}

.summary ol li .summary {
  border-right: none;
}

.summary ol li ol li {
  list-style-position: outside;
  counter-increment: subsection;
  font-weight: normal;
  text-transform: none;
}

.summary ol li ol li:last-child {
  padding-bottom: 0;
}

.summary ol li ol li:before {
  margin-right: 10px;
  display: marker;
  content: counter(root) '.' counter(subsection) '.';
}
