body {
  font-family: Helvetica, Arial, Lucida Grande, sans-serif;
  font-size: 12px;
  color: #1d2129;
}

a {
  color: #4267b2;
}

.cover-heading {
  font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Segoe UI, Helvetica, Arial, Lucida Grande, sans-serif;
  font-size: 3.5em;
  font-weight: 300;
  color: #666;
}

.cover-heading small {
  font-size: 70%;
  color: #444;
}

.cover-heading strong {
  font-size: 120%;
  color: #444;
}

span.coding {
  font-family: monospace;
}

small {
  font-size: 70%;
}

.picture {
  margin-bottom: 10px;
  border-radius: 50%;
  max-width: 100px;
}

.contributor-founder h4 {
  font-weight: 600;
  font-size: 1.5em;
}

.contributor-founder h2 {
  font-weight: 300;
}

.contributor ul.references {
  padding: 0;
  list-style: none;
}

.contributor ul.references li {
  display: inline-block;
  margin-right: 15px;
  font-size: 1.1em;
}

.contributor ul.references li a {
  color: #666;
}
